/* =============
    Header
============= */
// header {
//     display: grid;
//     grid-template-columns: 20% auto;
//     padding: 10px;
//
//     nav {
//         i {
//             font-size: rem-calc(30);
//             margin-top: 8px;
//         }
//     }
//
//     aside {
//         text-align: right;
//
//         a:link,
//         a:visited {
//             background-color: $sunflower;
//             border-radius: rem-calc(23);
//             color: $black;
//             display: inline-block;
//             font-size: rem-calc(18);
//             font-weight: 700;
//             padding: 13px 25px;
//         }
//
//         a:active,
//         a:hover {
//             background-color: $sunflower;
//             color: $white;
//         }
//     }
// }
header{
    display: grid;
    grid-template-areas: "burger logo" "nav nav";
    grid-template-columns: auto 70%;
    @include lg{
        grid-template-areas: "nav logo";
        grid-template-columns: auto 40%;
    }

    section:nth-child(1){
        display: flex;
        align-items: center;
        justify-content: flex-start;
        grid-area: burger;
        padding: 10px;
        font-size: rem-calc(24);
        @include lg{
            display: none;
        }

        button{
            background-color: $white;
            border: none;
            outline: none;
        }
    }

    section:nth-child(2){
        grid-area: logo;
        margin: 10px;
        display: flex;
        justify-content: flex-end;
        a:link,
        a:visited {
            background-color: $sunflower;
            border-radius: rem-calc(23);
            color: $black;
            display: inline-block;
            font-size: rem-calc(18);
            font-weight: 700;
            padding: 13px 25px;
       }

       a:active,
       a:hover {
           background-color: $sunflower;
           color: $white;
       }
    }

    nav{
        display: none;
        grid-area: nav;
        @include lg{
            display: block !important;
        }
    }
}
